// Section - Project information
.section__project-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 6rem 2rem 0 2rem;
  margin: 0 0 2rem 0;

  @media only screen and (max-width: $media-medium) {
    min-height: 66vh;
    padding-top: 4rem;
  }

  & .project-info {
    &__btn {
      display: none;
      @media only screen and (max-width: $media-medium) {
        display: block;
      }
    }
  }

  & p {
    width: 52rem;
    max-width: 100vw;
    padding: 4rem;
    text-align: center;

    @media only screen and (max-width: $media-small) {
      padding: 3rem;
    }
  }
}
