// Section - Project information
.section__project-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 6rem 0;
  margin: 0 0 2rem 0;

  @media only screen and (max-width: $media-medium) {
    height: 66vh;
  }

  & p {
    width: 52rem;
    max-width: 100vw;
    padding: 4rem;
    text-align: center;
    margin-top: 2rem;
  }
  & .project-info__btn {
    display: none;
    margin-top: 2rem;
    @media only screen and (max-width: $media-medium) {
      display: block;
    }
  }
}
