.projects__title--main {
  display: none;
  margin-bottom: 2rem;
  color: $color-white;
  text-align: center;

  @media only screen and (max-width: $media-medium) {
    display: block;
  }
}

/*
  Project lists
*/

// Outer container
.projects {
  margin: 1rem auto;
  width: 70rem;
  max-width: 90%;

  &:not(:first-of-type) {
    margin-top: 4rem;
  }

  @media only screen and (max-width: $media-small) {
    max-width: 100%;
    margin: 0;
  }

  /* Active projects list - start */
  &--active {
    & .projects__list {
      background: radial-gradient(
        circle at 10%,
        $color-quad 60%,
        $color-white 60.3%
      );
      box-shadow: 8px 12px 40px -18px rgba(0, 0, 0, 0.6);
      @media only screen and (max-width: $media-medium) {
        box-shadow: none;
        background: none;
      }
      &.droppable {
        background: var(--color-secondary);
      }
    }
  }

  /* Active projects list - end */

  /* Finished projects list - start*/

  &--finished {
    & .projects__list {
      background: none;
      box-shadow: 6px 8px 20px -9px rgba(0, 0, 0, 0.3);

      &.droppable {
        background: rgba($color-success, 0.4);
      }
      & .projects__card {
        opacity: 0.4;
      }
    }

    & .card__btns {
      &-info {
        &.alt {
          border: 1px solid var(--color-secondary);
        }
      }
      &-finish {
        background-color: var(--color-secondary);
      }
    }
  }

  &__results-message {
    padding: 4rem;
    font-weight: 400;
    background-color: #fff;
    text-align: center;
    border-radius: 1rem;
    color: #777;
    display: none;

    &.active {
      display: block;
    }
  }

  /* Finished projects list - end */

  &__title {
    margin-bottom: 2rem;
    text-align: center;
    @media only screen and (max-width: $media-medium) {
      color: $color-white;
    }
  }

  // projects lists - general
  &__list {
    padding: 2rem;
    border-radius: 2rem;

    & li:not(:last-of-type) {
      margin-bottom: 1.4rem;
    }
  }

  // List item outer container - start
  &__card-container {
    position: relative;
    cursor: grab;

    &.current-drag {
      animation: dragIn 0.25s ease-in-out forwards;
    }

    &.drag-out {
      animation: dragOut 0.25s ease-in-out;
    }
  }
  // List item outer container - end

  // List item inner container - start

  &__card {
    border-radius: 1rem;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
    padding: 2rem;
    background: $color-white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    transition: all 0.25s ease-in-out;
    position: relative;
    z-index: 3;
    perspective: 600px;

    &:hover {
      animation: listItemHover 0.25s;

      @media only screen and (max-width: $media-medium) {
        animation: none;
      }
    }

    @media only screen and (max-width: $media-medium) {
      perspective: none;
    }

    @media only screen and (max-width: $media-small) {
      flex-direction: column;

      position: relative;
      padding: 3rem;
    }

    /* tooltip - start */
    & .card__tooltip {
      background: var(--color-tertiary);
      color: $color-white;
      padding: 3rem;
      border-radius: 1rem;
      box-shadow: -12px -12px 2rem rgba($color-black, 0.2);
      z-index: 10;
      position: absolute;
      left: 50%;
      transition: transform 0.6s ease-out;
      display: none;

      @media only screen and (max-width: $media-medium) {
        position: fixed;
        left: 0;
        top: 0;
        width: 100vw;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        text-align: center;
      }

      & .tooltip__title {
        margin-bottom: 1rem;
      }
    }

    &.tooltip-showing {
      animation: tooltipZoomIn 0.3s ease-in-out forwards;
      opacity: 1 !important;

      @media only screen and (max-width: $media-medium) {
        animation: none;
        z-index: 10;
      }
      & .card__tooltip {
        display: block;
        animation: tooltipRotate 0.4s ease-out;
        @media only screen and (max-width: $media-medium) {
          display: flex;
          animation: tooltipInSmallerDevices 0.4s ease-out backwards;
        }

        & p {
          @media only screen and (max-width: $media-medium) {
            font-size: 4rem;
            max-width: 60rem;
          }
        }
      }
    }

    &.tooltip-end {
      animation: tooltipZoomOut 0.2s ease-in-out;

      @media only screen and (max-width: $media-medium) {
        animation: none;
      }
    }
    /* tooltip - end */

    // card content
    & .card__content {
      margin-right: 2rem;
      @media only screen and (max-width: $media-small) {
        margin-bottom: 2rem;
      }
    }
    &__title {
      margin: 10px;
      width: 135px;
    }
    &__description {
      margin: 10px;
    }

    /* card buttons - start */
    .card__btns {
      display: flex;

      @media only screen and (max-width: $media-tiny) {
        flex-direction: column;
      }

      &-info {
        border-radius: 5px 0 0 5px;

        @media only screen and (max-width: $media-small) {
          border-radius: 5px;
          margin-right: 2.5px;
        }

        @media only screen and (max-width: $media-tiny) {
          margin-bottom: 2.5px;
          margin-right: 0;
        }
      }
      &-finish {
        border-radius: 0 20px 20px 0;

        @media only screen and (max-width: $media-small) {
          border-radius: 5px;
          margin-left: 2.5px;
        }
        @media only screen and (max-width: $media-tiny) {
          margin: 0;
        }
      }
    }
    /* card buttons - end */
  }
  // List item inner container - end
}
