body {
  font-family: 'Raleway', sans-serif;
  font-size: 1.6rem;
  font-weight: 500;
}

h1 {
  font-size: 4rem;
  margin-bottom: 2rem;
  color: transparent;

  background-image: linear-gradient(to right, $color-quad, $color-secondary);
  background-clip: text;
  -webkit-background-clip: text;
}
