body.home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: repeating-linear-gradient(
    45deg,
    rgba($color-secondary, 0.05),
    rgba($color-white-colored-2, 0.06) 10%
  );

  @media only screen and (max-width: $media-medium) {
    display: block;
  }
}

// Colored triangles in corners
.background {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;

  @media only screen and (max-width: $media-medium) {
    display: none;
  }

  &--top-left {
    background: linear-gradient(to left, $color-secondary, $color-quad);
    clip-path: polygon(0% 0%, 35% 0%, 0% 35%, 0% 0%);
  }
  &--bottom-right {
    background: linear-gradient(to right, $color-secondary, $color-quad);
    clip-path: polygon(100% 100%, 65% 100%, 100% 65%, 100% 100%);
  }
}

.project__create {
  text-align: center;
  margin-bottom: 4rem;
}

// Section - Create a project
.section.main {
  @media only screen and (max-width: $media-medium) {
    text-align: center;
    margin: 0;
    padding-top: 10rem;
    padding-bottom: 4rem;
    background: var(--color-quad);
    clip-path: polygon(0 10%, 100% 0%, 100% 100%, 0% 100%);
  }
}
