:root {
  --color-secondary: #ff9232;
  --color-tertiary: #e3085a;
  --color-quad: #7000aa;

  --color-success: #06eb00;
  --color-error: #f80000;
}

$color-white: #fff;
$color-black: #000;
$color-grey: #999;
$color-shadow-blue: #84c0f8;

$color-success: #06eb00;
$color-error: #f80000;

$color-quad: #7000aa;
$color-secondary: #ff9232;
$color-white-colored-2: #fff5a4;

$media-tiny: 350px;
$media-small: 550px;
$media-medium: 900px;
